.dialogMessage{
  clear: both;
  max-width: 60%;
  min-width: 30%;
  position: relative;
  margin-bottom: 20px;
}

.dialogMessage.unread > *:nth-child(2) {
  position: relative;
}

.dialogMessage.unread > *:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 6px;
  height: 6px;
  width: 6px;
  border-radius: 10px;
  background-color: #F44336;
}

.dialogMessage > div:not(:last-child){
  margin-bottom: 10px;
}
.dialogMessage.dialogMessage_right{
  float: right;
}
.dialogMessage_right .dialogMessage__block{
  background-color: #c5e7f5;
  border-bottom: 2px solid #6ebddf;
}
.dialogMessage_right .dialogMessage__date{
  text-align: right;
}
.dialogMessage__block{
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #ffffff;
  border-bottom: 2px solid #e2e2e2;
  border-radius: 5px;
}
.dialogMessage__text{
  white-space: pre-wrap;
}
.dialogMessage__date{
  white-space: nowrap;
  font-size: 0.9rem;
  margin-bottom: 0 !important;
}
.dialogMessage__btn{
  background: #d3dfe8;
  text-align: center;
  color: #3a6d99;
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  padding: 6px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  clear: both;
}
.dialogMessage__action{
  background-color: #f1f1f1;
  border-radius: 5px;
  font-size: 0.9rem;
  border: 1px solid #ddd;
  padding: 10px;
  transition: .3s;
  opacity: .7;
  float: left;
  margin-bottom: 5px;
  clear: both;
}
.dialogMessage__error{
  background-color: #f15853;
  border-radius: 5px;
  font-size: 0.9rem;
  border: 1px solid #c33648;
  padding: 10px;
  transition: .3s;
  float: left;
  margin-bottom: 5px;
  clear: both;
}
.dialogMessage__error.unknown{
  overflow: hidden;
  max-height: 100%;
  background-color: #d4d4d4;
  border: 1px solid #b7b7b7;
  font-size: 0.8rem;
}
.dialogMessage_right .dialogMessage__error{
  float: right;
}
.dialogMessage_right .dialogMessage__action{
  background-color: #fdfdde;
  float: right;
}
.dialogMessage__action:hover{
  opacity: 1;
}
/* Viber messages */
.messages_viber{
  background-color: #dde1e2;
}

/* Viber buttons */
.dialogMessage__btn.viberButton>span{
  display: inline-block;
}
.dialogMessage__btn.viberButton::after{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.viberButtonsGroup .dialogMessage__btn.viberButton{
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.viberButtonsGroup .dialogMessage__btn.viberButton:first-child{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.viberButtonsGroup .dialogMessage__btn.viberButton:last-child{
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.viberButton_rows_1{ height: 35px; }
.viberButton_rows_2{ height: 70px; }
.viberButton_rows_3{ height: 105px; }
.viberButton_rows_4{ height: 140px; }
.viberButton_rows_5{ height: 175px; }
.viberButton_rows_6{ height: 210px; }
.viberButton_image{
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper-section.wrapper-section_messages{
  padding-top: 0;
  padding-bottom: 0;
}

.wrapper-section_messages .messages {
  padding-top: 15px;
  padding-bottom: 15px;
}

.z-depth-2 {
  z-index: 2;
}

/*toggle aside*/
.side-nav {
  width: 90px;
}

.side-nav span {
  display: none;
}

.toggle-item {
  color: #169bd5;
  position: absolute;
  bottom: 80px;
  right: 0;
  left: 0;
  margin: auto;
  cursor: pointer;
  transform: rotateY(180deg);
  text-align: center;
}

.toggle-item > * {
  vertical-align: middle;
}

.side-open .side-nav {
  width: 250px;
}

.side-open .side-nav span {
  display: inline;
}

.side-open .logo-icon {
  display: none;
}

.side-open .logo-text {
  display: block;
}

.side-open .main {
  padding-left: 250px;
}

.side-open .toggle-item {
  transform: rotateY(0);
}

.main {
  padding-left: 90px;
  min-height: 100vh;
}
/*toggle aside - end*/
/*color-scheme*/
.nav-wrapper .btn,.nav-wrapper .btn:hover,.nav-wrapper .btn:focus {
  background-color: #00ccff96;
}
.btn,.btn:hover,.btn:focus {
  background-color: #169bd5;
}

.btn.btn-flat,.btn.btn-flat:hover {
  background-color: transparent;
}

.waves-effect.waves-blue .waves-ripple {
  background-color: #00ccff96;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #169bd5;
}

#d .def-color {
  color: #169bd5;
}

.def-bg {
  background-color: #169bd5;
}

.side-nav li.active .material-icons {
  color: #169bd5;
}

#d input:focus:not([readonly]), #d textarea:focus:not([readonly]) {
  border-bottom: 1px solid #169bd5;
  box-shadow: 0 1px 0 0 #169bd5;
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #169bd596;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #169bd5;
}

input[type=checkbox]:checked:not(:disabled) ~ .lever:active::before, input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::before {
  background-color: rgba(38, 142, 166, 0.15);
}

[type="checkbox"].filled-in:checked+label:after {
  border: 2px solid #169bd5;
  background-color: #169bd5;
}
/*color-scheme - end*/

.logo-text {
  display: none;
}

.logo {
  padding: 20px 10px 30px;
}

.logo object {
  max-width: 100%;
}

.title {
  font-size: 2rem;
  line-height: 64px;
  margin: 0 15px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.top-select {
  margin-top: 10px;
  min-width: 200px;
}

.content-container {
  padding: 0 15px 15px;
  background-color: #169bd5;
  height: calc(100vh - 64px);
  z-index: 10;
  position: relative;
}

.content {
  background-color: #fff;
  /*padding: 15px;*/
  height: 100%;
}

.container-signup {
  width: 600px;
  margin: auto;
}

.container-signup .card {
  padding: 50px 100px;
}

.container-signup .logo {
  padding: 50px 30px 0;
}

.w230 {width: 230px;}
#d .mt7 {margin-top: 7px;}
#d .mt10 {margin-top: 10px;}
#d .mt14 {margin-top: 14px;}
#d .mt24 {margin-top: 24px;}
#d .m0 {margin: 0;}
#d .ov-auto {overflow: auto;}
#d .input-field.m0 .select-dropdown {margin: 0;}
#d .p10 {padding: 0 10px;}
#d .lhi {line-height: inherit !important;}

.flex-btn .material-icons {
  cursor: pointer;
  font-size: 2.5rem;
  transition: .2s;
}
.flex-btn .material-icons:hover {
  color: #169bd5;
}

.flex-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 46px;
}

.bold {
  font-weight: bold;
}

.users__name {
  font-size: 1.25rem;
}

.users__action {
  font-size: 1.15rem;
}

.users__card {
  background-color: #fafafa;
  padding: 15px;
  cursor: pointer;
  margin-left: .75rem;
  margin-right: .75rem;
  position: relative;
}

.section_review .users__card {
  padding-left: 0;
  padding-right: 0;
}

.users__img {
  position: relative;
  width: 67px;
  height: 67px;
  user-select: none;
  margin-right: 20px;
  float: left;
}

.users__img .img {
  border-radius: 99px;
  background-color: #4a5a61;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  line-height: 67px;
  font-size: 2rem;
  text-transform: uppercase;
}

.users__img .img.no_image.color0{
  background-color: #53b1f0;
}
.users__img .img.no_image.color1{
  background-color: #cc90e2;
}
.users__img .img.no_image.color2{
  background-color: #73cdd0;
}
.users__img .img.no_image.color3{
  background-color: #80d066;
}
.users__img .img.no_image.color4{
  background-color: #ecd074;
}

.dot {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  height: 6px;
  width: 6px;
  border-radius: 10px;
  background-color: #F44336;
}

.dot.puls::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
  transition: opacity .3s, transform .3s;
  animation: puls-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
}

@keyframes puls-animation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

.img.fz0 {
  font-size: 0;
}

.img-label, .img-label-static {
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  background-position: 40% 40%;
  background-repeat: no-repeat;
  background-size: 55% auto;
}

.img-label-static {
  position: static;
  margin: auto;
}

.img-label-0 {
  background-image: url(../img/telegram.png);
  background-color: #169bd5;
}

.img-label-1 {
  background-image: url(../img/viber.png);
  background-color: #cc33ff;
}
.img-label-2 {
  background-image: url(../img/vk.jpg);
  background-position: center;
  background-size: 100%;
}

#d .wrapper-container {
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.wrapper-container .section {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.section.wrapper-section {
  height: calc(100% - 77px);
  padding-left: 0;
  padding-right: 0;
}

.section.wrapper-section.wrapper-section_messages {
  height: calc(100% - 173px);
}

.wrapper {
  overflow-x: auto;
  overflow-y: visible;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.clear {
  clear: both;
}

.message {
  width: 60%;
}

.message .users__img {
  float: left;
  margin-right: 20px;
}

.message_bot .users__img {
  float: right;
  margin-left: 20px;
  margin-right: 0px;
}

.message_bot .users__name {
  order: 1;
}

.message_bot {
  float: right;
  background-color: #b3efef;
}

.message__text {
  margin-bottom: 0;
}

.big-text {
  font-size: 1.15rem;
  height: 25px;
}

.big-text .material-icons {
  font-size: 1.6rem;
}

.middle-text {
  font-size: 0.90rem;
  height: 25px;
}

.small-text {
  font-size: 0.75rem;
  height: 17px;
}

.borders {
  border-left: 1px solid #9e9e9e;
  border-right: 1px solid #9e9e9e;
}

.bg-0 {
  background-color: #169bd596;
}

.bg-1 {
  background-color: #ff6699;
}

.bg-2 {
  background-color: #b3efef;
}

.table-wrapper {
  height: calc(100% - 64px);
}

.mail-form {
  padding: 30px 50px;
  width: 750px;
  margin: 50px auto;
}

.side-form {
  padding: 20px 0;  
}

.side-form_temp {
  padding: 20px 10px;  
}

.side-form h5 {
  margin-bottom: 30px;
}

.switch.col.s3 .lever {
  margin: 0 0 0 8px;
}

.book-chips {
  height: 150px;
}

.counter {
  display: inline-block;
  background-color: #e4e4e4;
  padding: 5px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.book-count {
  padding: 10px;
}

.book-count > * {
  margin: 10px 0;
}

.templatesTable .truncate {
  width: 400px;
}

.connectBlock {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  text-align: center;
  line-height: 76px;
  transition: opacity .3s, visibility .3s;
}

.connected .connectBlock {
  opacity: 0;
  visibility: hidden;
}

.stats__switches {
  margin-left: auto;
}

.stats__inputs > *, .stats__switches > * {
  display: inline-block;
  margin-right: 10px;
}

.stats__inputs .date-field {
  width: 90px;
}

#d .stats__inputs input {
  margin-bottom: 0;
}

.stats__btns {
  margin: 0 20px;
}

.statsNum {
  text-align: center;
  font-size: 3rem;
}

.statsCard {
  padding: 10px 10px 0;
}

.notifCount {
  height: 15px;
  border-radius: 99px;
  min-width: 15px;
  background-color: #F44336;
  color: #fff;
  line-height: 1;
  text-align: center;
  font-size: 10px;
  padding: 3px;
  position: absolute;
  left: 50px;
  top: 10px;
}

/* Custom grid */

@media only screen and (min-width: 1400px) {
  .row .col.xxm1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxm2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxm3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxm4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxm5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxm6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxm7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxm8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxm9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxm10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxm11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxm12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
}

@media only screen and (min-width: 1600px) {
  .row .col.xxl1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
}

@media only screen and (min-width: 0) {
  html {
    font-size: 11px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1700px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 1200px) {
  .users__img {
    height: 54px;
    width: 54px;
  }

  .users__img .img {
    line-height: 54px;
  }

  .big-text {
    height: 23px;
  }

  .middle-text {
    height: 17px;
  }

  .small-text {
    height: 14px;
  }

  .section.wrapper-section.wrapper-section_messages {
    height: calc(100% - 151px);
  }

  .statsFilter .middle-text {
    display: none;
  }
}

.material-icons.disabled {
  pointer-events: none;
  color: #9F9F9F;
  cursor: default;
}

.mail-form {
  position: relative;
}

.preloader-container {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.6);
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader-container.show {
  opacity: 1;
  visibility: visible;
}